n8n-support-handler-workflow.json
{
  "name": "NIL Support Handler (Instantly.ai Replies)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/15 * * * *"
            }
          ]
        }
      },
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300],
      "id": "schedule-trigger"
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "url": "=https://api.instantly.ai/api/v1/analytics/campaign/{{ $env.INSTANTLY_OUTREACH_CAMPAIGN_ID }}/emails",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "={{ $env.INSTANTLY_API_KEY }}"
            },
            {
              "name": "skip",
              "value": "0"
            },
            {
              "name": "limit",
              "value": "50"
            }
          ]
        },
        "options": {}
      },
      "name": "Get Campaign Replies",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300],
      "id": "instantly-get-replies"
    },
    {
      "parameters": {
        "jsCode": "// Filter for replies (not just sent emails)\nconst allEmails = $input.first().json.data || [];\n\n// Get emails with replies from last 24 hours\nconst now = new Date();\nconst yesterday = new Date(now.getTime() - 24 * 60 * 60 * 1000);\n\nconst replies = allEmails.filter(email => {\n  const hasReply = email.replied === true || email.reply_count > 0;\n  const replyDate = email.replied_at ? new Date(email.replied_at) : null;\n  const isRecent = replyDate && replyDate > yesterday;\n  \n  return hasReply && isRecent;\n});\n\nreturn replies.map(reply => ({ json: reply }));"
      },
      "name": "Filter Recent Replies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300],
      "id": "filter-replies"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Check If Replies Exist",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300],
      "id": "check-replies"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "Loop Over Replies",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1050, 300],
      "id": "loop-replies"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "leads",
        "schema": "nil",
        "returnAll": false,
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "value": "={{ $json.email }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Find Lead in Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1250, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-nil",
          "name": "Supabase NIL Wealth"
        }
      },
      "id": "find-lead"
    },
    {
      "parameters": {
        "jsCode": "// Check if lead exists in Supabase\nconst replyData = $('Loop Over Replies').item.json;\nconst leadResults = $input.first().json;\n\nif (!leadResults || leadResults.length === 0) {\n  // Lead not found, create minimal lead record\n  return [{\n    json: {\n      lead_exists: false,\n      reply_email: replyData.email,\n      reply_name: replyData.first_name + ' ' + (replyData.last_name || ''),\n      reply_message: replyData.reply_snippet || 'No message content',\n      replied_at: replyData.replied_at\n    }\n  }];\n}\n\n// Lead found\nconst lead = leadResults[0];\nreturn [{\n  json: {\n    lead_exists: true,\n    lead_id: lead.id,\n    lead_name: lead.full_name,\n    lead_email: lead.email,\n    lead_organization: lead.organization,\n    reply_message: replyData.reply_snippet || 'No message content',\n    replied_at: replyData.replied_at\n  }\n}];"
      },
      "name": "Process Reply Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 300],
      "id": "process-reply"
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "support_tickets",
        "schema": "nil",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $json.lead_exists ? $json.lead_id : null }}",
            "contact_name": "={{ $json.lead_exists ? $json.lead_name : $json.reply_name }}",
            "contact_email": "={{ $json.lead_exists ? $json.lead_email : $json.reply_email }}",
            "subject": "=Reply to NIL Outreach",
            "message": "={{ $json.reply_message }}",
            "source": "instantly_reply",
            "status": "new",
            "priority": "medium"
          }
        },
        "options": {}
      },
      "name": "Create Support Ticket",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1650, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-nil",
          "name": "Supabase NIL Wealth"
        }
      },
      "id": "create-ticket"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads",
        "schema": "nil",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "value": "={{ $('Process Reply Data').item.json.lead_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "replied",
            "last_reply_at": "={{ $now }}"
          }
        },
        "options": {}
      },
      "name": "Update Lead Status",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1850, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-nil",
          "name": "Supabase NIL Wealth"
        }
      },
      "id": "update-lead-status"
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "lead_metrics",
        "schema": "nil",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $('Process Reply Data').item.json.lead_id }}",
            "metric_type": "email_reply",
            "metric_value": 1,
            "metadata": "={{ { source: 'instantly', replied_at: $json.replied_at } }}"
          }
        },
        "options": {}
      },
      "name": "Log Reply Metric",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2050, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-nil",
          "name": "Supabase NIL Wealth"
        }
      },
      "id": "log-metric"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $env.TELEGRAM_CHAT_ID }}"
            },
            {
              "name": "text",
              "value": "=🎯 NEW REPLY RECEIVED!\n\n👤 From: {{ $('Process Reply Data').item.json.lead_name || $('Process Reply Data').item.json.reply_name }}\n📧 Email: {{ $('Process Reply Data').item.json.lead_email || $('Process Reply Data').item.json.reply_email }}\n🏢 Org: {{ $('Process Reply Data').item.json.lead_organization || 'Unknown' }}\n\n💬 Message Preview:\n{{ $('Process Reply Data').item.json.reply_message }}\n\n✅ Support ticket created\n⏱️ {{ $now.toLocaleString() }}\n\n💡 Check /support to respond"
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            }
          ]
        },
        "options": {}
      },
      "name": "Notify Telegram Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2250, 300],
      "id": "telegram-notify-reply"
    },
    {
      "parameters": {},
      "name": "Loop Back",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2450, 300],
      "id": "loop-back"
    },
    {
      "parameters": {
        "jsCode": "// Summarize all replies processed\nconst allResults = $input.all();\nconst summary = {\n  total_replies: allResults.length,\n  timestamp: new Date().toISOString()\n};\n\nreturn [{ json: summary }];"
      },
      "name": "Summarize Replies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 500],
      "id": "summarize"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $env.TELEGRAM_CHAT_ID }}"
            },
            {
              "name": "text",
              "value": "=✅ Support Check Complete\n\n📬 New Replies: {{ $json.total_replies }}\n⏱️ {{ $now.toLocaleString() }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Notify Telegram Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 500],
      "id": "telegram-summary"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $env.TELEGRAM_CHAT_ID }}"
            },
            {
              "name": "text",
              "value": "=❌ Support Handler Failed\n\nError: {{ $json.error?.message || 'Unknown error' }}\n⏱️ {{ $now.toLocaleString() }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Notify Telegram Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 100],
      "id": "telegram-error"
    }
  ],
  "connections": {
    "Every 15 Minutes": {
      "main": [
        [
          {
            "node": "Get Campaign Replies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Campaign Replies": {
      "main": [
        [
          {
            "node": "Filter Recent Replies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Recent Replies": {
      "main": [
        [
          {
            "node": "Check If Replies Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Replies Exist": {
      "main": [
        [
          {
            "node": "Loop Over Replies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Replies": {
      "main": [
        [
          {
            "node": "Find Lead in Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Summarize Replies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Lead in Supabase": {
      "main": [
        [
          {
            "node": "Process Reply Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Reply Data": {
      "main": [
        [
          {
            "node": "Create Support Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Support Ticket": {
      "main": [
        [
          {
            "node": "Update Lead Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead Status": {
      "main": [
        [
          {
            "node": "Log Reply Metric",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Reply Metric": {
      "main": [
        [
          {
            "node": "Notify Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Telegram Reply": {
      "main": [
        [
          {
            "node": "Loop Back",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Back": {
      "main": [
        [
          {
            "node": "Loop Over Replies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Replies": {
      "main": [
        [
          {
            "node": "Notify Telegram Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-03-03T00:00:00.000Z",
  "versionId": "1"
}
