n8n-lead-generation-workflow.json
{
  "name": "NIL Lead Generation (Apify + Hunter.io)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300],
      "id": "schedule-trigger"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/{{ $env.APIFY_ACTOR_ID }}/runs",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $env.APIFY_API_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "queries",
              "value": "={{ $json.searchQuery || 'athletic director site:edu' }}"
            },
            {
              "name": "maxResults",
              "value": "={{ $json.maxResults || 50 }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Start Apify Scrape",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300],
      "id": "apify-start"
    },
    {
      "parameters": {
        "amount": 120,
        "unit": "seconds"
      },
      "name": "Wait for Scrape",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [650, 300],
      "webhookId": "wait-webhook-1",
      "id": "wait-scrape"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "=https://api.apify.com/v2/acts/{{ $env.APIFY_ACTOR_ID }}/runs/{{ $('Start Apify Scrape').item.json.data.id }}/dataset/items",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $env.APIFY_API_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Get Scraped Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 300],
      "id": "apify-results"
    },
    {
      "parameters": {
        "jsCode": "// Parse Apify results and prepare for loop\nconst items = $input.all();\nconst leads = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  // Extract relevant fields from Apify output\n  if (data.name && data.domain) {\n    leads.push({\n      full_name: data.name || data.title || 'Unknown',\n      organization: data.company || data.organization || 'Unknown',\n      website: data.domain || data.url || '',\n      linkedin_url: data.linkedinUrl || '',\n      title: data.jobTitle || data.position || 'Athletic Director',\n      phone: data.phone || null,\n      state: data.state || data.location || 'Unknown',\n      source: 'apify_' + (data.source || 'google'),\n      raw_data: data\n    });\n  }\n}\n\nreturn leads.map(lead => ({ json: lead }));"
      },
      "name": "Parse Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300],
      "id": "parse-leads"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "Loop Over Leads",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1250, 300],
      "id": "loop-leads"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "https://api.hunter.io/v2/email-finder",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "domain",
              "value": "={{ $json.website }}"
            },
            {
              "name": "first_name",
              "value": "={{ $json.full_name.split(' ')[0] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $json.full_name.split(' ').slice(1).join(' ') }}"
            },
            {
              "name": "api_key",
              "value": "={{ $env.HUNTER_IO_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Find Email (Hunter.io)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 300],
      "id": "hunter-find-email"
    },
    {
      "parameters": {
        "jsCode": "// Combine lead data with Hunter.io email result\nconst leadData = $('Loop Over Leads').item.json;\nconst hunterResult = $input.first().json.data;\n\nconst enrichedLead = {\n  ...leadData,\n  email: hunterResult?.email || null,\n  email_confidence: hunterResult?.score || 0,\n  email_verified: hunterResult?.verification?.result === 'deliverable',\n  status: hunterResult?.email ? 'ready' : 'no_email'\n};\n\nreturn [{ json: enrichedLead }];"
      },
      "name": "Enrich Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 300],
      "id": "enrich-lead"
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "leads",
        "schema": "nil",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ 'lead_' + $now.toUnixInteger() + '_' + $runIndex }}",
            "full_name": "={{ $json.full_name }}",
            "email": "={{ $json.email }}",
            "phone": "={{ $json.phone }}",
            "organization": "={{ $json.organization }}",
            "title": "={{ $json.title }}",
            "state": "={{ $json.state }}",
            "website": "={{ $json.website }}",
            "linkedin_url": "={{ $json.linkedin_url }}",
            "source": "={{ $json.source }}",
            "status": "={{ $json.status }}",
            "email_confidence": "={{ $json.email_confidence }}",
            "raw_data": "={{ $json.raw_data }}"
          }
        },
        "options": {
          "queryName": "SUPABASE_URL"
        }
      },
      "name": "Insert Lead to Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1850, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-nil",
          "name": "Supabase NIL Wealth"
        }
      },
      "id": "insert-lead"
    },
    {
      "parameters": {},
      "name": "Loop Back",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2050, 300],
      "id": "loop-back"
    },
    {
      "parameters": {
        "jsCode": "// Summarize results after loop completes\nconst allResults = $input.all();\nconst summary = {\n  total_scraped: allResults.length,\n  with_email: allResults.filter(i => i.json.email).length,\n  without_email: allResults.filter(i => !i.json.email).length,\n  high_confidence: allResults.filter(i => i.json.email_confidence >= 80).length\n};\n\nreturn [{ json: summary }];"
      },
      "name": "Summarize Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 500],
      "id": "summarize"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $env.TELEGRAM_CHAT_ID }}"
            },
            {
              "name": "text",
              "value": "=✅ Lead Generation Complete\n\n📊 Results:\n• Total Scraped: {{ $json.total_scraped }}\n• With Email: {{ $json.with_email }}\n• Without Email: {{ $json.without_email }}\n• High Confidence: {{ $json.high_confidence }}\n\n⏱️ Time: {{ $now.toLocaleString() }}"
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            }
          ]
        },
        "options": {}
      },
      "name": "Notify Telegram Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 500],
      "id": "telegram-success"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $env.TELEGRAM_CHAT_ID }}"
            },
            {
              "name": "text",
              "value": "=❌ Lead Generation Failed\n\nError: {{ $json.error?.message || 'Unknown error' }}\n\n⏱️ Time: {{ $now.toLocaleString() }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Notify Telegram Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 100],
      "id": "telegram-error"
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Start Apify Scrape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Apify Scrape": {
      "main": [
        [
          {
            "node": "Wait for Scrape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Scrape": {
      "main": [
        [
          {
            "node": "Get Scraped Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Scraped Leads": {
      "main": [
        [
          {
            "node": "Parse Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Leads": {
      "main": [
        [
          {
            "node": "Loop Over Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Leads": {
      "main": [
        [
          {
            "node": "Find Email (Hunter.io)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Summarize Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Email (Hunter.io)": {
      "main": [
        [
          {
            "node": "Enrich Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Lead": {
      "main": [
        [
          {
            "node": "Insert Lead to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Lead to Supabase": {
      "main": [
        [
          {
            "node": "Loop Back",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Back": {
      "main": [
        [
          {
            "node": "Loop Over Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Results": {
      "main": [
        [
          {
            "node": "Notify Telegram Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-03-03T00:00:00.000Z",
  "versionId": "1"
}
