n8n-workflows/v9/WF-V9-02-support-ingest-triage.json
{
  "name": "WF-V9-02 | Support Ingest & Triage",
  "nodes": [
    {
      "id": "note",
      "name": "📋 About This Workflow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [200, 60],
      "parameters": {
        "content": "## WF-V9-02 — Support Ingest & Triage\n\n**What it does:** Runs every 15 minutes. Fetches new replies from Instantly, finds the matching lead in nil.leads, creates a support ticket in nil.support_tickets, classifies the intent using OpenAI, and routes based on confidence: high-confidence questions get queued in nil.message_drafts for WF-V9-03 to send automatically; low-confidence or sensitive replies get a Telegram triage alert so you can reply personally. Also checks nil.support_tickets for SLA breaches and alerts for any ticket open longer than URGENT_AFTER_MINUTES.\n\n**Why it matters:** Coach replies are your most valuable signal. Without this workflow, replies go unread, no ticket is created, and you have no visibility into who is interested.\n\n**Critical rule:** This workflow NEVER sends email to coaches or families. Classification and queuing only.\n\n**Tables written:** nil.leads (status update), nil.support_tickets, nil.lead_metrics, nil.message_drafts\n\n**Replaces:** NIL WF02 — Gmail Support Watch + SLA escalation from NIL WF07 — V20",
        "height": 280,
        "width": 900,
        "color": 4
      }
    },
    {
      "id": "schedule",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [200, 400],
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "*/15 * * * *" }] }
      }
    },
    {
      "id": "fetch-replies",
      "name": "Fetch Instantly Replies",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [440, 400],
      "parameters": {
        "method": "GET",
        "url": "=https://api.instantly.ai/api/v1/analytics/campaign/{{ $env.INSTANTLY_OUTREACH_CAMPAIGN_ID }}/emails",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "api_key", "value": "={{ $env.INSTANTLY_API_KEY }}" },
            { "name": "limit", "value": "100" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "filter-replies",
      "name": "Filter Recent Replies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 400],
      "parameters": {
        "jsCode": "const emails = ($input.first().json.data || []);\nconst cutoff = Date.now() - 24 * 60 * 60 * 1000;\nconst replies = emails.filter(e => e.replied && e.replied_at && new Date(e.replied_at).getTime() > cutoff);\nif (!replies.length) return [];\nreturn replies.map(r => ({ json: {\n  email: (r.email || '').toLowerCase().trim(),\n  name: r.name || r.first_name || '',\n  reply_message: r.reply_snippet || r.reply_text || '',\n  replied_at: r.replied_at,\n  campaign_id: r.campaign_id || $env.INSTANTLY_OUTREACH_CAMPAIGN_ID,\n  message_id: r.message_id || r.id || (r.email + '_' + r.replied_at)\n} }));"
      }
    },
    {
      "id": "loop",
      "name": "Loop Each Reply",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [920, 400],
      "parameters": { "batchSize": 1, "options": {} }
    },
    {
      "id": "find-lead",
      "name": "Find Lead in Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1160, 400],
      "parameters": {
        "operation": "get",
        "schema": "nil",
        "tableId": "leads",
        "returnAll": false,
        "limit": 1,
        "filters": { "conditions": [{ "keyName": "email", "value": "={{ $json.email }}" }] }
      },
      "credentials": { "supabaseApi": { "id": "supabase-nil", "name": "Supabase NIL Wealth" } }
    },
    {
      "id": "classify",
      "name": "Classify Intent (OpenAI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1400, 400],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.OPENAI_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"model\": \"gpt-4o-mini\", \"temperature\": 0, \"max_tokens\": 150, \"messages\": [{ \"role\": \"system\", \"content\": \"Classify this inbound email reply for NIL Wealth Strategies (sports supplemental health insurance for student-athletes). Reply with JSON only: { \\\"category\\\": string, \\\"confidence\\\": number 0-1, \\\"auto_reply_allowed\\\": boolean, \\\"summary\\\": string }. Categories: interested_positive, wants_info, scheduling_request, not_interested, unsubscribe, spam, question_coverage, question_enrollment, urgent. Set auto_reply_allowed=true ONLY for wants_info or question_coverage or question_enrollment with confidence > 0.87. All others false.\" }, { \"role\": \"user\", \"content\": \"{{ $('Loop Each Reply').item.json.reply_message }}\" }] }"
      }
    },
    {
      "id": "parse-class",
      "name": "Parse Classification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1640, 400],
      "parameters": {
        "jsCode": "const reply = $('Loop Each Reply').item.json;\nconst lead = $('Find Lead in Supabase').item.json;\nconst leadRecord = Array.isArray(lead) ? lead[0] : lead;\nlet cl = { category: 'unsupported', confidence: 0, auto_reply_allowed: false, summary: '' };\ntry {\n  const raw = $('Classify Intent (OpenAI)').item.json.choices?.[0]?.message?.content || '{}';\n  cl = JSON.parse(raw.replace(/```json|```/g,'').trim());\n} catch(e) {}\nreturn [{ json: {\n  ...reply,\n  lead_id: leadRecord?.id || null,\n  lead_name: leadRecord?.full_name || reply.name,\n  lead_org: leadRecord?.organization || '',\n  category: cl.category,\n  confidence: cl.confidence,\n  auto_reply_allowed: cl.auto_reply_allowed,\n  summary: cl.summary\n} }];"
      }
    },
    {
      "id": "create-ticket",
      "name": "Create Support Ticket",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1880, 280],
      "parameters": {
        "operation": "insert",
        "schema": "nil",
        "tableId": "support_tickets",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $json.lead_id }}",
            "contact_name": "={{ $json.lead_name }}",
            "contact_email": "={{ $json.email }}",
            "subject": "=Instantly Reply — {{ $json.category }}",
            "message": "={{ $json.reply_message }}",
            "source": "instantly_reply",
            "status": "={{ $json.auto_reply_allowed ? 'queued_auto' : 'needs_human' }}",
            "priority": "={{ $json.category === 'urgent' ? 'high' : 'medium' }}",
            "category": "={{ $json.category }}",
            "confidence": "={{ $json.confidence }}"
          }
        },
        "options": { "onConflict": "ignore" }
      },
      "credentials": { "supabaseApi": { "id": "supabase-nil", "name": "Supabase NIL Wealth" } }
    },
    {
      "id": "update-lead",
      "name": "Update Lead Status",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1880, 420],
      "parameters": {
        "operation": "update",
        "schema": "nil",
        "tableId": "leads",
        "filters": { "conditions": [{ "keyName": "id", "value": "={{ $json.lead_id }}" }] },
        "columns": {
          "mappingMode": "defineBelow",
          "value": { "status": "replied", "last_reply_at": "={{ $now }}" }
        }
      },
      "credentials": { "supabaseApi": { "id": "supabase-nil", "name": "Supabase NIL Wealth" } }
    },
    {
      "id": "log-metric",
      "name": "Log Reply Metric",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1880, 560],
      "parameters": {
        "operation": "insert",
        "schema": "nil",
        "tableId": "lead_metrics",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $json.lead_id }}",
            "metric_type": "={{ $json.auto_reply_allowed ? 'email_reply_auto' : 'email_reply_triage' }}",
            "metric_value": 1,
            "metadata": "={{ { category: $json.category, confidence: $json.confidence, replied_at: $json.replied_at } }}"
          }
        },
        "options": {}
      },
      "credentials": { "supabaseApi": { "id": "supabase-nil", "name": "Supabase NIL Wealth" } }
    },
    {
      "id": "route",
      "name": "Auto or Triage?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2120, 400],
      "parameters": {
        "conditions": {
          "conditions": [
            { "id": "c1", "leftValue": "={{ $json.auto_reply_allowed }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equal" } }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "queue-answer",
      "name": "Queue Auto-Answer",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2360, 280],
      "parameters": {
        "operation": "upsert",
        "schema": "nil",
        "tableId": "message_drafts",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "conversation_id": "={{ $json.message_id }}",
            "lead_email": "={{ $json.email }}",
            "draft_type": "auto_reply",
            "subject": "=Re: Your NIL Wealth Inquiry",
            "body": "=Auto-answer queued for category: {{ $json.category }} — {{ $json.summary }}",
            "confidence": "={{ $json.confidence }}",
            "category": "={{ $json.category }}",
            "scheduled_for": "={{ new Date(Date.now() + (Math.floor(Math.random() * 13) + 5) * 60000).toISOString() }}",
            "status": "queued",
            "idempotency_key": "=auto_answer|{{ $json.message_id }}",
            "source_message_id": "={{ $json.message_id }}"
          }
        },
        "options": { "onConflict": "idempotency_key" }
      },
      "credentials": { "supabaseApi": { "id": "supabase-nil", "name": "Supabase NIL Wealth" } }
    },
    {
      "id": "triage-telegram",
      "name": "Triage Alert → Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2360, 520],
      "parameters": {
        "authentication": "headerAuth",
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "chat_id", "value": "={{ $env.TELEGRAM_CHAT_ID }}" },
            { "name": "parse_mode", "value": "HTML" },
            { "name": "text", "value": "=⚡ <b>REPLY NEEDS ATTENTION</b>\n\n👤 {{ $json.lead_name }} ({{ $json.lead_org || 'Unknown org' }})\n📧 {{ $json.email }}\n🏷 {{ $json.category }} · {{ Math.round(($json.confidence || 0) * 100) }}% confidence\n📋 {{ $json.summary }}\n\n💬 Preview: {{ ($json.reply_message || '').slice(0, 200) }}\n\n👉 Reply manually in Gmail — auto-reply suppressed" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "sla-note",
      "name": "📋 SLA Section",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [200, 800],
      "parameters": {
        "content": "**SLA Escalation** — runs in parallel every 15 min.\nChecks nil.support_tickets for tickets open longer than URGENT_AFTER_MINUTES without a response. Sends a Telegram alert per breach.",
        "height": 100,
        "width": 520,
        "color": 7
      }
    },
    {
      "id": "get-stale",
      "name": "Get Overdue Tickets",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [440, 860],
      "parameters": {
        "operation": "get",
        "schema": "nil",
        "tableId": "support_tickets",
        "returnAll": true,
        "filters": {
          "conditions": [{ "keyName": "status", "condition": "in", "value": "new,queued_auto,needs_human" }]
        }
      },
      "credentials": { "supabaseApi": { "id": "supabase-nil", "name": "Supabase NIL Wealth" } }
    },
    {
      "id": "find-breaches",
      "name": "Find SLA Breaches",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 860],
      "parameters": {
        "jsCode": "const tickets = $input.all().map(i => i.json);\nconst urgentMins = Number($env.URGENT_AFTER_MINUTES || 180);\nconst now = Date.now();\nconst breaches = tickets.filter(t => {\n  const created = new Date(t.created_at || now).getTime();\n  return (now - created) / 60000 >= urgentMins;\n});\nif (!breaches.length) return [];\nreturn breaches.map(t => ({ json: {\n  id: t.id,\n  contact_email: t.contact_email,\n  contact_name: t.contact_name || t.contact_email,\n  category: t.category,\n  age_mins: Math.floor((now - new Date(t.created_at).getTime()) / 60000)\n} }));"
      }
    },
    {
      "id": "sla-alert",
      "name": "SLA Alert → Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [920, 860],
      "parameters": {
        "authentication": "headerAuth",
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "chat_id", "value": "={{ $env.TELEGRAM_CHAT_ID }}" },
            { "name": "text", "value": "=⏱ SLA BREACH\n\n👤 {{ $json.contact_name }}\n📧 {{ $json.contact_email }}\n⏳ Open for {{ $json.age_mins }} minutes\n🏷 {{ $json.category }}\n\nNeeds immediate attention. Check /support in bot." }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "heartbeat",
      "name": "Heartbeat to Bot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2600, 400],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OPS_INGEST_SENDER_URL }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "jsonBody": "={{ { payload: { schema_version: '5.3', event_type: 'n8n.heartbeat', source: 'wf_v9_02', direction: 'inbound', trace_id: $execution.id, idempotency_key: 'heartbeat|wf_v9_02|' + $now, payload: { workflow: 'WF-V9-02', status: 'ok' } } } }}"
      }
    },
    {
      "id": "error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [200, 1040],
      "parameters": {}
    },
    {
      "id": "error-notify",
      "name": "Error → Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [440, 1040],
      "parameters": {
        "authentication": "headerAuth",
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "chat_id", "value": "={{ $env.TELEGRAM_CHAT_ID }}" },
            { "name": "text", "value": "=⚠️ WF-V9-02 ERROR\n{{ $json.error.message }}\nExecution: {{ $execution.id }}" }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Every 15 Minutes": {
      "main": [[
        { "node": "Fetch Instantly Replies", "type": "main", "index": 0 },
        { "node": "Get Overdue Tickets", "type": "main", "index": 0 }
      ]]
    },
    "Fetch Instantly Replies": { "main": [[{ "node": "Filter Recent Replies", "type": "main", "index": 0 }]] },
    "Filter Recent Replies": { "main": [[{ "node": "Loop Each Reply", "type": "main", "index": 0 }]] },
    "Loop Each Reply": { "main": [[{ "node": "Find Lead in Supabase", "type": "main", "index": 0 }]] },
    "Find Lead in Supabase": { "main": [[{ "node": "Classify Intent (OpenAI)", "type": "main", "index": 0 }]] },
    "Classify Intent (OpenAI)": { "main": [[{ "node": "Parse Classification", "type": "main", "index": 0 }]] },
    "Parse Classification": {
      "main": [[
        { "node": "Create Support Ticket", "type": "main", "index": 0 },
        { "node": "Update Lead Status", "type": "main", "index": 0 },
        { "node": "Log Reply Metric", "type": "main", "index": 0 },
        { "node": "Auto or Triage?", "type": "main", "index": 0 }
      ]]
    },
    "Auto or Triage?": {
      "main": [
        [{ "node": "Queue Auto-Answer", "type": "main", "index": 0 }],
        [{ "node": "Triage Alert → Telegram", "type": "main", "index": 0 }]
      ]
    },
    "Queue Auto-Answer": { "main": [[{ "node": "Heartbeat to Bot", "type": "main", "index": 0 }]] },
    "Get Overdue Tickets": { "main": [[{ "node": "Find SLA Breaches", "type": "main", "index": 0 }]] },
    "Find SLA Breaches": { "main": [[{ "node": "SLA Alert → Telegram", "type": "main", "index": 0 }]] },
    "Error Trigger": { "main": [[{ "node": "Error → Telegram", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "V9" }]
}
