src/n8n-workflows/05-nil-ops-ingest-sender.json
{
  "name": "nil-ops-ingest-sender",
  "nodes": [
    {
      "parameters": {
        "path": "nil-ops-ingest-sender",
        "responseMode": "onReceived",
        "responseData": "successResponse"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 300],
      "webhookId": ""
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nconst payload = $node.Webhook.json.payload || {};\nconst secret = String(process.env.OPS_WEBHOOK_HMAC_SECRET || '').trim();\n\nconst raw_body = JSON.stringify(payload ?? {});\n\nif (!secret) {\n  throw new Error('WF09 config error: OPS_WEBHOOK_HMAC_SECRET is missing');\n}\n\nconst signature = crypto\n  .createHmac('sha256', secret)\n  .update(raw_body)\n  .digest('hex');\n\nreturn {\n  raw_body,\n  signature,\n  signature_header: 'x-ops-signature',\n  endpoint: String(process.env.OPS_INGEST_ENDPOINT || 'https://nil-wealth-telegram-shell.onrender.com/ops/ingest').trim(),\n  event_type: payload?.event_type || null,\n  trace_id: payload?.trace_id || null,\n  idempotency_key: payload?.idempotency_key || null,\n  debug_preview: {\n    raw_body_length: raw_body.length,\n    signature,\n  },\n};"
      },
      "name": "Generate HMAC Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 300]
    },
    {
      "parameters": {
        "url": "={{ $node['Generate HMAC Signature'].json.endpoint }}",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-ops-signature",
              "value": "={{ $node['Generate HMAC Signature'].json.signature }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "application/json",
        "body": "={{ $node['Generate HMAC Signature'].json.raw_body }}"
      },
      "name": "Forward to bot /ops/ingest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "return {\n  ok: true,\n  forwarded_at: new Date().toISOString(),\n  event_type: $node['Generate HMAC Signature'].json.event_type,\n  trace_id: $node['Generate HMAC Signature'].json.trace_id,\n  idempotency_key: $node['Generate HMAC Signature'].json.idempotency_key,\n  signature: $node['Generate HMAC Signature'].json.signature,\n  raw_body_length: $node['Generate HMAC Signature'].json.debug_preview.raw_body_length,\n};"
      },
      "name": "Return Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Generate HMAC Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate HMAC Signature": {
      "main": [
        [
          {
            "node": "Forward to bot /ops/ingest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forward to bot /ops/ingest": {
      "main": [
        [
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0d9b8c5f-1234-5678-9abc-def012345682",
  "meta": {
    "instanceId": "00000000000000000000000",
    "templateId": null
  },
  "pinData": {}
}
